div {
    width: 80px;
    height: 80px;
    background-color: rgb(11, 57, 84);
    color: white;
    &:hover {
        background-color: rgb(52, 98, 125);
    }
}

.blanche {
    background-color: rgb(198, 204, 178);
    &:hover {
        background-color: rgb(231, 245, 219);
    }
}

.caseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    border-style: solid;
    border-width: 3px;
    border-color: red;
    width: 74px;
    height: 74px;
}