<div class="page-container">
    <div class="side-container">
        <mat-card class="game-infos left-infos">
            <span *ngFor="let move of moves">{{move}} </span>
        </mat-card>
    </div>
    <mat-card  class="game-infos">
        <div class="board-container">
            <app-board></app-board>
            <div *ngIf="winner!='none'" class="win-display">{{gg[winner]}}</div>
            <span *ngIf="whiteCheck!='none'">{{whiteCheck}} check !</span>
            <span *ngIf="blackCheck!='none'">{{blackCheck}} check !</span>
        </div>
    </mat-card>
    <div class="side-container">
        <mat-card class="game-infos right-infos">
            <div class="captured-container">
                <app-piece *ngFor="let piece of whiteCaptured" [piece]="piece" size="small"></app-piece>
            </div>
            <div class="captured-container">
                <app-piece *ngFor="let piece of blackCaptured" [piece]="piece" size="small"></app-piece>
            </div>
        </mat-card>
    </div>
</div>

