<div class="page-container">
    <div class="left-container">
        <app-swinging-button icon="house" route="/"></app-swinging-button>
    </div>
    <div class="middle-container">
        <div class="traits">
            <div class="short-trait"></div>
            <div class="short-trait"></div>
        </div>
        <mat-card class="board-card">
            <div class="board-container">
                <app-board></app-board>
                <div *ngIf="winner!='none'" class="win-display">{{gg[winner]}}</div>
                <!-- <span *ngIf="whiteCheck!='none'">{{whiteCheck}} check !</span>
                <span *ngIf="blackCheck!='none'">{{blackCheck}} check !</span> -->
            </div>
        </mat-card>
    </div>
    <div class="right-container">
        <!-- <mat-card class="game-infos right-infos" [@showup]="state"> -->
        <div class="traits">
            <div class="short-trait"></div>
            <div class="short-trait"></div>
        </div>
        <mat-card class="game-infos right-infos">
            <div class="captured-infos">
                <div class="right-infos-title">
                    <fa-icon class="side-icon" [icon]="faSkullIcon" size="3x"></fa-icon>
                    <span class="right-infos-title-text">Captured</span>
                </div>
                <div class="captured-both">
                    <div class="captured-container">
                        <app-piece *ngFor="let piece of whiteCaptured" [piece]="piece" size="small"></app-piece>
                    </div>
                    <div class="captured-container">
                        <app-piece *ngFor="let piece of blackCaptured" [piece]="piece" size="small"></app-piece>
                    </div>
                </div>
            </div>
            <div class="moves-infos">
                <div class="right-infos-title moves-title">
                    <fa-icon class="side-icon" [icon]="faBookIcon" size="3x"></fa-icon>
                    <span class="right-infos-title-text">Moves</span>
                </div>
                <div>
                    <span class="moves-text" *ngFor="let move of moves">{{move}} </span>
                </div>
            </div>
        </mat-card>
    </div>
</div>

