<div class="page-container">
    <div class="side-container">
        <mat-card class="game-infos left-infos" [@showup]="state">
            <div class="left-infos-title">
                <fa-icon class="side-icon" [icon]="faBookIcon" size="3x"></fa-icon>
                <span class="left-infos-title-text">Moves</span>
            </div>
            <div>
                <span class="moves-text" *ngFor="let move of moves">{{move}} </span>
            </div>
        </mat-card>
    </div>
    <mat-card class="game-infos board-card" [@showup]="state">
        <div class="board-container">
            <app-board></app-board>
            <div *ngIf="winner!='none'" class="win-display">{{gg[winner]}}</div>
            <!-- <span *ngIf="whiteCheck!='none'">{{whiteCheck}} check !</span>
            <span *ngIf="blackCheck!='none'">{{blackCheck}} check !</span> -->
        </div>
    </mat-card>
    <div class="side-container">
        <mat-card class="game-infos right-infos" [@showup]="state">
            <div class="left-infos-title">
                <fa-icon class="side-icon" [icon]="faSkullIcon" size="3x"></fa-icon>
                <span class="left-infos-title-text">Captured</span>
            </div>
            <div class="captured-both">
                <div class="captured-container">
                    <app-piece *ngFor="let piece of whiteCaptured" [piece]="piece" size="small"></app-piece>
                </div>
                <div class="captured-container">
                    <app-piece *ngFor="let piece of blackCaptured" [piece]="piece" size="small"></app-piece>
                </div>
            </div>
        </mat-card>
    </div>
</div>

