<div class="move-container">
    <div class="color-to-move" [ngClass]="{'whiteMove' : colorToMove==='white', 'blackMove' : colorToMove==='black'}"></div>
</div>
<div class="top-infos">
    <div *ngFor="let letter of boardRows" class="letter-infos">{{letter.toUpperCase()}}</div>
</div>
<div class="df">
    <div class="left-infos">
        <div *ngFor="let nb of boardCols" class="nb-infos">{{nb}}</div>
    </div>
    <div class="board-div">
        <div *ngFor="let row of cases" class="row-div">
            <app-case *ngFor="let j of row" [numb]="j"></app-case>
        </div>
    </div>
</div>

<div class="promote-container-master" [ngClass]="{'set-promote' : promotion != 'none'}">
    <div *ngIf="promotion != 'none'" class="promote-container">
        <app-piece [piece]="knightPiece" (click)="promote(knightPiece.type)"></app-piece>
        <app-piece [piece]="bishopPiece" (click)="promote(bishopPiece.type)"></app-piece>
        <app-piece [piece]="rookPiece" (click)="promote(rookPiece.type)"></app-piece>
        <app-piece [piece]="queenPiece" (click)="promote(queenPiece.type)"></app-piece>
    </div>
</div>


