<div class="body">
    <app-swinging-button icon="house" route="/" length="random"></app-swinging-button>
    <app-swinging-button icon="chart" route="/words" length="random"></app-swinging-button>
    <app-swinging-button icon="pawn" route="/chess" length="random"></app-swinging-button>
    <app-swinging-button icon="house" route="/" length="random"></app-swinging-button>
    <app-swinging-button icon="skull" route="/temp" length="random"></app-swinging-button>
    <app-swinging-button icon="house" route="/" length="random"></app-swinging-button>
    <app-swinging-button icon="house" route="/" length="random"></app-swinging-button>
</div>